body {
    padding: 20px;
}

.rotating-icon {
    display: inline-block;
    animation: spin 1s infinite linear;
}

input,
textarea {
    padding: 0.5rem;
    border-radius: 10px;
}

button {
    background-color: blue;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes twist-up {
    to {
        transform: rotateX(360deg);
    }
}
